#arh {
    margin-bottom: 2em;
}

#arh_inner {
    border: 1px solid #ebebeb;
    padding: 10px;
}

#arh table {
    text-align: center;
    width: 100%;
}

#arh table tr {
    border-bottom: 1px dotted #ccc;
}

#arh table tr:nth-child(2n+1) {
    background-color: #fafafa;
}

#arh table td {
    padding-left: 25px;
    padding-right: 25px;
}

.arh_button + .arh_button {
    margin-left: 15px;
}

#arh #arh_button-row {
}

.arh_file-pending-full {
    font-style: italic;
    font-weight: bold;
}

.arh_file-full {
    font-weight: bold;
}

.arh_file-pending-prelim {
    font-style: italic;
}

.arh_file-prelim {

}

.arh_file-disabled {
    text-decoration: line-through !important;
}
