#arh_border {
	border: 4px solid #E0EFFD;
	background-color: #E0EFFD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2em;
}

#arh_inner {
	background-color: #fff;
	border: 1px solid #2e5186;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1em;
}

#arh table {
    text-align: center;
    width: 100%;
}

#arh table tr {
    border-bottom: 1px dotted #ccc;
}

#arh table td {
    padding-left: 25px;
    padding-right: 25px;
}

.arh_button + .arh_button {
    margin-left: 15px;
}

#arh #arh_button-row {
}

.arh_file-pending-full {
	font-style: italic;
	font-weight: bold;
}

.arh_file-full {
	font-weight: bold;
}

.arh_file-pending-prelim {
	font-style: italic;
}

.arh_file-prelim {

}

.arh_file-disabled {
	text-decoration: line-through !important;
}
